<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<!-- Flash správy -->
<div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>

<article>
  <div class="container">
    <div id="centered">
      <section>
        <header>
          <h1>Task detail</h1>
        </header>

        <div class="container mt-5">
          <div class="card shadow-lg">
            <div class="card-body">

              <!-- Title -->
              <p class="mb-3">
                <strong>Title:</strong>
                <span th:text="${task.title}">Title</span>
              </p>

              <!-- Description -->
              <p class="mb-3">
                <strong>Description:</strong>
                <span th:text="${task.description}">Description</span>
              </p>

              <!-- Date -->
              <p class="mb-3">
                <strong>Completion date:</strong>
                <span th:text="${#temporals.format(task.dueDate, 'dd.MM.yyyy')}">01.01.2025</span>
              </p>

              <!-- Category -->
              <p class="mb-3">
                <strong>Category:</strong>
                <span th:text="${task.category}">Category</span>
              </p>

              <!-- Status -->
              <p class="mb-3">
                <strong>Status:</strong>
                <span th:text="${task.status}"
                      th:classappend="${task.status == T(com.trixs.taskmanager.data.entities.TaskStatus).COMPLETED} ? 'badge bg-success'
                          : (${task.status == T(com.trixs.taskmanager.data.entities.TaskStatus).IN_PROGRESS} ? 'badge bg-warning text-dark'
                          : 'badge bg-secondary')">
                      Status
                    </span>
              </p>

              <!-- Action buttons -->
              <div class="d-flex justify-content-between mt-4">
                <a href="/tasks" class="btn btn-secondary">Back</a>
                <div>
                  <a class="btn btn-warning me-2" th:href="@{/tasks/edit/{id}(id=${task.taskId})}">Edit</a>
                  <a class="btn btn-danger" th:href="@{/tasks/delete/{id}(id=${task.taskId})}">Delete</a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
